# Exclure les fichiers de clés
keys/*
!keys/README.md  # Garder un fichier README dans le dossier keys pour expliquer son usage

# Exclure les fichiers temporaires
*.pyc
__pycache__/

# Exclure les fichiers binaires
*.bin

# Exclure les environnements virtuels
venv/
.env/

# Exclure les données sensibles et les logs
data/
logs/
